---
import Layout from "../layouts/Layout.astro";
import Container from "../components/container.astro";
import Sectionhead from "../components/sectionhead.astro";
import AboutHero from "../components/about-components/aboutHero.astro";
import AboutHeroIzq from "../components/about-components/aboutHeroIzq.astro";
import Team from "../components/team.astro";
---

<Layout title="About">
  <Container>
    <Sectionhead class="mb-6">
      <Fragment slot="title">About Us</Fragment>
      <Fragment slot="desc"></Fragment>
    </Sectionhead>
    <div
      class="bg-no-repeat bg-cover bg-[url('/photos_about/principal.webp/')] h-[16rem] md:h-[30rem] mt-10 rounded-xl">
    </div>
    <img class="size-56 md:mt-10 mt-6 m-auto" src="/logo.svg" alt="" />
    <div class="grid place-items-center md:mb-24 md:mt-10 mb-12 mt-8">
      <h2
        class="max-w-2xl text-3xl font-bold e tracking-tight leading-none md:text-4xl xl:text-5xl">
        Montaraz
      </h2>
      <h2
        class="max-w-2xl mb-4 text-3xl t font-bold tracking-tight leading-none md:text-4xl xl:text-15xl">
        Outdoors & Culture
      </h2>
      <p
        class="max-w-2xl font-medium t md:text-lg lg:text-xl text-center text-gray-500">
        Montaraz Outdoors & Culture, based in Granada, in southern Spain, is an
        Adventure Travel Company specializing in Active Holidays.
      </p>
    </div>
  </Container>

  <Container>
    <AboutHero title="The Great Outdoors" subtitle="Take time to travel">
      <img
        class="rounded-xl object-cover"
        slot="picture"
        src="/photos_about/great_outdoors.webp"
        alt=""
      />
    </AboutHero>

    <AboutHeroIzq
      title="New Experiences"
      subtitle="Explore our true outdoor travel experiences suitable for anyone who enjoys an active way of traveling">
      <img
        class="rounded-xl object-cover"
        slot="picture"
        src="/photos_about/create_new_experiences.webp"
        alt=""
      />
    </AboutHeroIzq>

    <AboutHero
      title="Small Group Travel"
      subtitle="Allows people to feel Freedom to go at their own pace and get to know their travel companies">
      <img
        sizes="h-6"
        class="rounded-xl object-cover h-[320px]"
        slot="picture"
        src="/photos_about/small_group_travel.webp"
        alt=""
      />
    </AboutHero>

    <AboutHeroIzq
      title="Professional Guide"
      subtitle="With many years of extensive expertise and local knowledge">
      <img
        class="rounded-xl object-cover"
        slot="picture"
        src="/photos_about/prefesional_guides.webp"
        alt=""
      />
    </AboutHeroIzq>

    <AboutHero
      title="Sustainable Travel"
      subtitle="Being more conscious of how we travel, we seek to minimize negative impacts on the environment and aim to have a positive social impact on local communities and economies.">
      <img
        class="rounded-xl object-cover h-[320px]"
        slot="picture"
        src="/photos_about/sustainable_travel.webp"
        alt=""
      />
    </AboutHero>

    <div class="grid place-items-center md:mt-24 mt-10">
      <h2
        class="max-w-2xl text-2xl font-bold tracking-tight leading-none md:text-4xl lg:text-5xl mb-4">
        Team
      </h2>
    </div>
  </Container>

  <Team />
</Layout>
