---
import Sectionhead from "@/components/sectionhead.astro";
import Container from "../components/container.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Terms and Conditions">
  <Sectionhead>
    <Fragment slot="title"> FAQ </Fragment>
    <Fragment slot="desc"></Fragment>
  </Sectionhead>
  <Container class="w-full mt-16">
    <!-- Reservations -->
    <h2 class="text-2xl font-bold mb-4">RESERVATION</h2>
    <div>
      <h2 class="text-xl font-bold mb-4">How do I book my tour online?</h2>
      <p class="mb-4">
        Any activity must be booked by sending us an e-mail with the following
        details: The name of the activity, the date of joining the activity, how
        many persons. Full name, date of birth, phone number, e-mail,
        nationality. Height and weight for cycling tours or multi-adventure
        activities.
      </p>
    </div>
    <div>
      <h2 class="text-xl font-bold mb-4">
        How far in advance do I need to book my activity?
      </h2>
      <p class="mb-4">
        The sooner you book, the more likely the tour will be confirmed, as
        every activity has a minimum number of persons required to proceed the
        reservation. If you’re looking for a multi-day tour, the reservation
        requires an earlier booking date according to the cancellation policy of
        the activity.
      </p>
    </div>
    <div>
      <h2 class="text-xl font-bold mb-4">
        What if I want to book a Private Tour?
      </h2>
      <p class="mb-4">
        Any activity can be booked as a private tour. For private tours, you can
        send us a TailerMade Travel document which you can find in the header of
        the page, or send us an email with your request.
      </p>
    </div>
    <div>
      <h2 class="text-xl font-bold mb-4">Tailor-Made Travel?</h2>
      <p class="mb-4">
        Any tour can be modified to meet the interests and preferences of the
        customer. We create and organize a personalized tour ideal when
        traveling as a family, a group of friends, or on an incentive trip. You
        determine the duration of the trip, destination preferences, type of
        accommodations, and a range of activities with full flexibility to
        travel at your own pace.
      </p>
    </div>
    <div>
      <h2 class="text-xl font-bold mb-4">Price Private Tours?</h2>
      <p class="mb-4">
        The price per person varies based on how many people, the destination,
        accommodation, the duration of your holiday, the range of activities,
        and the time of year you travel.
      </p>
    </div>
    <div>
      <h2 class="text-xl font-bold mb-4">Booking steps Private Tours?</h2>
      <p class="mb-4">
        See Tailer-Made Travel which you can find in the header of the page.
      </p>
    </div>
    <div>
      <h2 class="text-xl font-bold mb-4">
        When should I book a Private Tour or a Tailer-Made Travel?
      </h2>
      <p class="mb-4">
        The sooner you book, the more options you’ll have in terms of dates,
        accommodations, and the range of activities.
      </p>
    </div>
    <div>
      <h2 class="text-xl font-bold mb-4">How much is the tour deposit?</h2>
      <p class="mb-4">See Terms & Conditions and/or activity information.</p>
    </div>
    <div>
      <h2 class="text-xl font-bold mb-4">Is my deposit refundable?</h2>
      <p class="mb-4">See Terms & Conditions.</p>
    </div>
    <div>
      <h2 class="text-xl font-bold mb-4">
        When will I receive more detailed information about my trip so I can
        start planning my travel?
      </h2>
      <p class="mb-4">
        General information of each activity you find in the trip notes.
        Detailed information about the activity will be sent after making a
        pre-reservation.
      </p>
    </div>
    <div>
      <h2 class="text-xl font-bold mb-4">
        My departure is not guaranteed. When will I know if my trip will run so
        I can book flights?
      </h2>
      <p class="mb-4">
        If a cancellation has to be made, we will inform you immediately and
        notify you of cancellation not less than 45 days before the start of
        your trip for multi-day tour or tours for 8 days or more. We confirm the
        client as soon as possible to guarantee your trip if we have reached the
        minimum group size.
      </p>
    </div>
    <div>
      <h2 class="text-xl font-bold mb-4">
        How do I get to the start of the trip and how will I get to the airport
        after the trip ends?
      </h2>
      <p class="mb-4">
        Every tour has a private transfer on the first and the last day which is
        mentioned in the trip notes.
      </p>
    </div>
    <div>
      <h2 class="text-xl font-bold mb-4">
        Will Montaraz Outdoors & Culture help me book a room before or after my
        trip if I’m extending my vacation?
      </h2>
      <p class="mb-4">
        Yes. Hotel extensions, adding an extra day or days at our selected
        accommodations can be arranged but have to be requested in advance
      </p>
    </div>
    <div>
      <h2 class="text-xl font-bold mb-4">Room Options?</h2>
      <p class="mb-4">
        Tours for 8 days or more: The hotel room type is a Standard Double Room
        assigned to two people with two individual beds or one double bed for
        couples with a private bathroom. Rooms are distributed, in consultation,
        according to the gender of the travelers. Private rooms can be booked at
        an additional cost for those who do not wish to be shared with other
        group members. Due to the limited capacity of the hotels, a single room
        must always be requested. Multi-day tour: The hotel room type is a
        Standard Double Room assigned to two people with two individual beds or
        one double bed for couples with a private bathroom. Rooms are
        distributed, in consultation, according to the gender of the travelers.
        Private rooms can be booked at an additional cost for those who do not
        wish to be shared with other group members. Due to the limited capacity
        of the hotels, a single room must always be requested. Possible that
        room options are different for multi-day tour and is mentioned in the
        trip notes.
      </p>
    </div>
    <div>
      <h2 class="text-xl font-bold mb-4">Confirmation hotel extensions?</h2>
      <p class="mb-4">
        We confirm your request as soon as possible. The extra cost will be
        added to the total price of the tour and to the deposit of 20 % to make
        your pre-reservation.
      </p>
    </div>
    <div>
      <h2 class="text-xl font-bold mb-4">
        What methods of payment are accepted?
      </h2>
      <p class="mb-4">
        Bank transfer payment. After booking a tour you will receive a proforma
        invoice with your tour- and payment details. If final payment is not
        received when due, we reserve the right to cancel your reservation.
      </p>
    </div>
    <div>
      <h2 class="text-xl font-bold mb-4">Do I need a Travel Insurance?</h2>
      <p class="mb-4">Obligatory for multi-day tour or 8 days tour or more.</p>
      <p class="mb-4">
        It is your responsibility to arrange appropriate travel insurance.
        Ensure you have read and understood the full terms and conditions of
        your travel insurance policy to ensure that you are covered for all
        activities you intend to undertake whilst on the tour. Your Insurance
        Policy must fully cover you for medical expenses and emergency
        repatriation to your home country.
      </p>
    </div>
    <div>
      <h2 class="text-xl font-bold mb-4">
        Does Montaraz Outdoors & Culture offer insurance?
      </h2>
      <p class="mb-4">No</p>
    </div>
    <div>
      <h2 class="text-xl font-bold mb-4">Can I cancel for any reason?</h2>
      <p class="mb-4">
        The client has the right to cancel the tour in writing and signed if the
        cancellation takes place more than the given date. (See Cancellation
        Policy for each activity) Once we receive your notice, the cancellation
        will take effect.
      </p>
      <p class="mb-4">
        We take our responsibility and you will be entitled to a full refund of
        the total trip price if we are not able to guarantee your trip by not
        having a minimum group size. If a cancellation has to be made, we will
        inform you immediately and notify you of cancellation not less than 45
        days before the start of your trip. You will be entitled to a full
        refund of the total trip price because of extraordinary circumstances
        meaning warfare, significant risks to human health, or a natural
        disaster such as weather conditions, which make it impossible to travel
        safely.
      </p>
    </div>
    <div>
      <h2 class="text-xl font-bold mb-4">
        What if a family member gets sick or what if I get sick or injured?
      </h2>
      <p class="mb-4">
        Montaraz Outdoors & Culture is not responsible for any cancellations
        that indicates personal reasons or other reasons. If the event takes
        place within the cancelation charges, we treat your booking as canceled
        and cancellation charges apply.
      </p>
    </div>
    <div>
      <h2 class="text-xl font-bold mb-4">
        Dietary restrictions and food intolerance?
      </h2>
      <p class="mb-4">
        Please let us know when you are booking a tour. After every booked tour
        you will receive a confirmation where you have to fill in a question
        form before joining the tour.
      </p>
    </div>
    <div>
      <h2 class="text-xl font-bold mb-4">Updates and trip details?</h2>
      <p class="mb-4">
        Any update about your trip will be immediately sent by e-mail. Shortly
        before departure, we will send you the latest update including group
        details – the number of travelers, couples, and solo travelers, and the
        age range of the group. For privacy reasons, we don’t give any personal
        details. Because of the limited capacity of the hotels due to the group
        size, dates, etc., any changes in hotels will be immediately
        communicated to you.
      </p>
    </div>
    <!-- RESERVATION -->
    <h2 class="text-2xl font-bold mb-4 mt-16">CYCLING & HIKING</h2>
    <div>
      <h2 class="text-xl font-bold mb-4">
        I am unsure about being able to finish the rides or hikes?
      </h2>
      <p class="mb-4">
        People often have different expectations and abilities for active
        holidays that way we have our tours graded with difficulty levels to
        better inform our travelers before booking the wrong tour. All active
        tours have graded physical and technical levels that fit your
        expectations and abilities to ensure a positive travel experience. If
        you have any concerns about your fitness or ability to complete any of
        the activities, please get in touch by sending us an e-mail. We will
        help you select the right trip for you and advise you on how best to
        prepare
      </p>
    </div>
    <div>
      <h2 class="text-xl font-bold mb-4">
        How many hours of activity can I expect each day?
      </h2>
      <p class="mb-4">
        Every tour has detailed information which includes an estimated activity
        duration and the total time required for an activity.
      </p>
    </div>
    <div>
      <h2 class="text-xl font-bold mb-4">
        What kind of shape do I need to be to enjoy my trip?
      </h2>
      <p class="mb-4">
        The tours are graded with difficulty levels. Please have a look at our
        difficult rating levels or get in touch by sending us an e-mail. We will
        help you select the right trip for you and advise you on how best to
        prepare
      </p>
    </div>
    <div>
      <h2 class="text-xl font-bold mb-4">
        What types of bikes do you offer and how do I know what bike type is
        best for me?
      </h2>
      <p class="mb-4">
        Mountainbike / Gravelbike / Roadbike / Tourbike / E-bike
      </p>
      <p class="mb-4">The type of bike depends on the tour</p>
      <p class="mb-4">
        When you book a cycle tour, we will ask your height and weight to
        pre-select the perfect bicycle for you. Minor adjustments will be take
        care of on the first day of the tour. If you have any concerns about the
        bike selection, please get in touch and we will help you and advise you
        about your preferences (frame type, size, pedals, etc.)
      </p>
    </div>
    <div>
      <h2 class="text-xl font-bold mb-4">Can I bring my own bicycle?</h2>
      <p class="mb-4">Yes</p>
    </div>
    <div>
      <h2 class="text-xl font-bold mb-4">
        What is the minimum age for kids to ride a bike?
      </h2>
      <p class="mb-4">
        The minimum average age is 11 years and a minimum height of 1.50 meters
        which you can find in the trip notes under requirements.
      </p>
    </div>
    <div>
      <h2 class="text-xl font-bold mb-4">
        Is there a minimum age to ride an e-bike?
      </h2>
      <p class="mb-4">
        The minimum age is 11 years old and a minimum height of 1.50 meters
      </p>
    </div>
    <div>
      <h2 class="text-xl font-bold mb-4">
        How do I know what size bike I should request?
      </h2>
      <p class="mb-4">
        Check out our blog where you can find more information or contact us
        with your questions.
      </p>
    </div>
    <div>
      <h2 class="text-xl font-bold mb-4">
        Are helmets required on cycle tours?
      </h2>
      <p class="mb-4">
        Yes. It is obligatory to wear a helmet on our cycle tours which is
        included in the tour. Or you can bring your own helmet. Montaraz
        Outdoors & Culture takes it as a legal requirement to wear a helmet. In
        case of an accident resulting in personal injury, certain insurance
        policies are invalidated in cases where a helmet was not being worn
      </p>
    </div>
    <div>
      <h2 class="text-xl font-bold mb-4">Training Tips?</h2>
      <p class="mb-4">
        Check out our blog where you can find more information or contact us
        with your questions.
      </p>
    </div>
    <!-- ORGANIZED GROUP TRAVEL  -->
    <h2 class="text-2xl font-bold mb-4 mt-16">ORGANIZED GROUP TRAVEL</h2>
    <div>
      <h2 class="text-xl font-bold mb-4">Why organized group travel?</h2>
      <p class="mb-4">
        Organized group travel has benefits and is an attractive option to offer
        positive experiences. One of the main benefits of organized group travel
        is that you don`t have to plan anything. Accommodations, itineraries,
        and meals are pre-arranged, which means you can focus on enjoying the
        trip rather than be occupied with logistical details. Also, often it can
        lead to significant savings when traveling as part of an organized
        group. It’s a chance to meet new people who share similar interests,
        which can enhance the travel experience. Our tours come with
        knowledgeable guides who can offer insights that you might not discover
        on your own. It provides a sense of safety, we ensure that the travel
        itinerary is safe, and they are prepared to handle any emergencies that
        may arise. We provide a structured itinerary that helps ensure you see
        the best sights and make the most of your time. Suitable for all ages,
        making it ideal for families and a wide range of age groups and
        interests.
      </p>
    </div>
    <div>
      <h2 class="text-xl font-bold mb-4">What can I expect?</h2>
      <p class="mb-4">
        Group travel gives you the flexibility to explore on your own on our
        pre-designed tours accompanied by other travelers, a great blend of
        personal freedom and to meet new people. The average group size is 8
        with couples, friends, and individual travelers.
      </p>
    </div>
  </Container>
</Layout>
