---
import Layout from "../layouts/Layout.astro";
import Container from "../components/container.astro";
import Sectionhead from "../components/sectionhead.astro";
import Card from "../components/card.astro";

const ROADBIKEPRODUCTS = [
  {
    name: "Top-Rope Rock Climbing",
    description: "",
    href: "/multi-adventure/rock-climbing/",
    href_img: "/multi-adventure/rock-climbing/rc-product.webp",
    alt_img: "peples climging a rock with ropes",
  },
  {
    name: "Rock Climbing Courses",
    description: "",
    href: "/multi-adventure/rock-climging-courses/",
    href_img: "/multi-adventure/rock-climbing-courses/rcc-product.webp",
    alt_img: "teaching rock climbing",
  },
];
---

<Layout title="Tour Bike Products">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Rock Climbing</Fragment>
      <Fragment slot="desc"></Fragment>
    </Sectionhead>
    <main class="mt-32">
      <ul class="grid md:grid-cols-2 lg:grid-cols-3 gap-6 w-full">
        {
          ROADBIKEPRODUCTS.map((tour) => (
            <li class="mb-10">
              <Card {...tour} />
            </li>
          ))
        }
      </ul>
    </main>
  </Container>
</Layout>
