---
interface Props {
  title: string;
  subtitle: string;
  class?: string;
}
const { title, subtitle, class: className } = Astro.props;
---

<div class="grid max-w-screen-xl mx-auto gpa-4 md:gap-14 mt-6 lg:grid-cols-12">
  <div
    class="mr-auto lg:col-span-6 text-center md:text-right content-center place-content-end">
    <h1
      class="max-w-2xl mb-4 text-2xl font-bold tracking-tight leading-none md:text-5xl xl:text-6xl">
      {title}
    </h1>
    <p
      class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl">
      {subtitle}
    </p>
  </div>
  <div
    class:list={[" lg:mt-0 lg:col-span-6 lg:flex max-h-80 hidden", className]}>
    <slot name="picture" />
  </div>
</div>
