---
import Container from "../../components/container.astro";
import InformationProducts from "../../components/ui/informationProducts.astro";
import Icon from "../../components/Icon.astro";
import Layout from "../../layouts/Layout.astro";
import SliderReact from "../../hooks/SliderReact";
import Days from "@/components/products-components/days.astro";
import Includes from "@/components/products-components/includes.astro";
import Route from "@/components/ui/icons/route.astro";
import Dots from "@/components/ui/dots.astro";
import Widget from "@/components/products-components/widget.astro";
import Cancellation from "@/components/products-components/cancellation.astro";

// Duplica y cambia las rutas para añadir o modificar las fotos

const IMG = [
  {
    src: "/hiking-and-trekking/1-day-summit-mulhacen/1dsm-1.webp",
  },
  {
    src: "/hiking-and-trekking/1-day-summit-mulhacen/1dsm-2.webp",
  },
  {
    src: "/hiking-and-trekking/1-day-summit-mulhacen/1dsm-3.webp",
  },
  {
    src: "/hiking-and-trekking/1-day-summit-mulhacen/1dsm-4.webp",
  },
  {
    src: "/hiking-and-trekking/1-day-summit-mulhacen/1dsm-5.webp",
  },
  {
    src: "/hiking-and-trekking/1-day-summit-mulhacen/1dsm-6.webp",
  },
  {
    src: "/hiking-and-trekking/1-day-summit-mulhacen/1dsm-7.webp",
  },
  {
    src: "/hiking-and-trekking/1-day-summit-mulhacen/1dsm-8.webp",
  },
  {
    src: "/hiking-and-trekking/1-day-summit-mulhacen/1dsm-9.webp",
  },
];
const DAYS = [
  {
    title2: "Track 1 Nort-face (Challenging):",
    tecnicalInfo: true,
    description:
      "The route starts at Europe’s southernmost ski resort and follows a great ascent along the San Juan Valley towards the second-highest peak of the mountain range, Veleta 3.392 meters. The trail brings you to the Carihuela Refuge located in the mountain pass “Collado de la Veleta” on its southern slope at an altitude of 3.200 meters where you can see the remains of the trenches from the Civil War.",
    description2:
      "Before our eyes, a wide landscape of the Mediterranean mountain range opens, and the peak Mulhacén rises majestically. The trails continue to the “Caldera Lagoon” of glacial origin and one of the most emblematic lagoons in the Sierra Nevada. From the mountain refuge, the iconic steep climb awaits us up to the peak of Mulhacén. We take the same path to return to the mountain village.",
    description3:
      "We classify the north-face route as a challenging trail with a lot of distance and has characteristics of altitude hiking. The hike involves a significant height difference with a long ascent and descent divided into two parts during the entire hike. A steep summit climb on rocky and loose terrain. The descent is less strenuous but can be tough on the knees. The trail doesn’t have any technical obstacles. For more information check our blog and look for “Trail grades”",
    description4:
      "Optional: there is a minibus or the summer ski lift at your disposal, which leaves us at around 3.000 meters, a significant reduction of ascent, distance, and the demands of the route. Ask for more information.",
    totalDistance: "28 Km",
    totalAscent: "1500 m",
    totalDescent: "1500 m",
    routeType: "Out-and-Back",
    physical_difficulty: "D",
    technical_difficulty: "C",
  },
  {
    title2: "Track 2 South-face (Moderate):",
    tecnicalInfo: true,
    description:
      "The south-face option starts at the “Mirador de Trevelez” at 2.700 meters which we reach by the shuttle bus from the village of Capileira. From the starting point, there are privileged views of the Sierra Nevada Mountain range and the Granada coast.",
    description2:
      "The trail goes slowly up to overcome the first slope “Loma del Tanto” leaving the viewpoint behind. Further ahead we hike in search of the Mulhacén II geodesic point at 3.362 meters surrounded by a different landscape of loose rocks and a lack of vegetation.",
    description3:
      "The last stretch, which takes us to the summit, offers a magnificent panoramic view of the Caldera Lagoon, one of the most emblematic lagoons in the Sierra Nevada.",
    description4:
      "Finally, after hiking the last slope we achieved our goal, the Peak of Mulhacén at 3.380 meters. We take the same path to return where the bus is waiting to bring us to the village of Capileira.",
    description5:
      "We classify the south-face route as a moderate trail with characteristics of altitude hiking. The hike involves a considerable height difference with a boulder crossing in some parts without any technical obstacles. For more information check our blog and look for “Trail grades”",
    totalDistance: "13 Km",
    totalAscent: "800 m",
    totalDescent: "800 m",
    routeType: "Out-and-Back",
    physical_difficulty: "C",
    technical_difficulty: "C",
  },
];

const brings = [
  {
    title: "Water minimum 2 L",
  },

  {
    title: "Picnic (sandwich, chocolate, dried fruit, etc.)",
  },
  {
    title: "Light backpack (20-30L)",
  },
  {
    title: "Weather-appropriate and technical clothing",
  },
  {
    title: "Hiking jacket",
  },
  {
    title: "Hiking shoes",
  },
  {
    title: "Sun protection",
  },
  {
    title: "Sunglasses",
  },
  {
    title: "Hiking summer hat or cap",
  },
  {
    title: "Trekking gloves",
  },
  {
    title: "Warm hat and neck gaiter",
  },
  {
    title: "Trekking poles (Recommended)",
  },
  {
    title: "Headlamp",
  },
];
---

<Layout title="">
  <Container>
    <main class="mt-16">
      <!-- Foto, nombre y destino -->

      <div
        class="bg-center bg-no-repeat bg-[url('/public/hiking-and-trekking/1-day-summit-mulhacen/1dsm-principal.webp')] h-[25rem] rounded-2xl bg-cover">
        <div class="flex flex-col justify-end h-full p-6 w-auto bg-cover">
          <div class="flex gap-2 [text-shadow:_0_2px_4px_rgb(0_0_0_/_0.8)]">
            <Icon icon="destiny-logo" size="1.6rem" color="gray" />
            <p
              class="text-xl font-normal text-white lg:text-2xl flex flex-col justify-end h-full [text-shadow:_0_2px_4px_rgb(0_0_0_/_0.8)]">
              Sierra Nevada National Park
            </p>
          </div>

          <h1
            class="text-3xl font-extrabold tracking-tight leading-none text-white md:text-4xl lg:text-5xl [text-shadow:_0_2px_4px_rgb(0_0_0_/_0.8)]">
            1-Day Summit Mulhacén
          </h1>
        </div>
      </div>

      <!-- Informacion general de los viajes -->

      <div
        class="grid grid-cols-2 md:grid-cols-6 h-auto mt-3 gap-3 place-content-start md:px-6">
        <InformationProducts title="Price" subtitle="80 (6 pax.)">
          <div slot="icon">
            <Icon icon="price-logo" size="1.6rem" color="#0E46A3" />
          </div>
        </InformationProducts>
        <InformationProducts title="Pre-booking" subtitle="100%">
          <div slot="icon">
            <Icon icon="price-logo" size="1.6rem" color="#0E46A3" />
          </div>
        </InformationProducts>
        <InformationProducts title="Minimum of persons" subtitle="1">
          <div slot="icon">
            <Icon icon="group-logo" size="1.6rem" color="#0E46A3" />
          </div>
        </InformationProducts>
        <InformationProducts
          title="Duration Trail"
          subtitle="Trail 1: 9-10 hours"
          subtitle3="Trail 2: 6 hours">
          <div slot="icon">
            <Icon icon="timer-logo" size="1.6rem" color="#0E46A3" />
          </div>
        </InformationProducts>
        <InformationProducts title="Tour type" subtitle="Guided">
          <div slot="icon">
            <Icon icon="guide-logo" size="1.6rem" color="#0E46A3" />
          </div>
        </InformationProducts>
        <InformationProducts title="Season" subtitle="Summer">
          <!-- <div slot="icon">
            <Icon icon="autumn-logo" size="1.6rem" color="#0E46A3" />
          </div> -->
        </InformationProducts>
      </div>

      <!-- Informacion tecnica -->

      <div class="">
        <div
          class="grid grid-cols-2 justify-between md:grid-cols-6 h-auto mt-3 gap-3 md:px-6">
          <InformationProducts
            title="Total distance"
            subtitle="Trail 1: 28 km"
            subtitle3="Trail 2: 13 km">
            <div slot="icon">
              <Icon icon="distance-logo" size="1.6rem" color="#0E46A3" />
            </div>
          </InformationProducts>

          <InformationProducts
            title="Total ascent"
            subtitle="Trail 1: 1.500 m"
            subtitle3="Trail 2: 800 m">
            <div slot="icon">
              <Icon icon="up-logo" size="1.6rem" color="#0E46A3" />
            </div>
          </InformationProducts>
          <InformationProducts
            title="Total descent"
            subtitle="Trail 1: 1.500 m"
            subtitle3="Trail 2: 800 m">
            <div slot="icon">
              <Icon icon="down-logo" size="1.6rem" color="#0E46A3" />
            </div>
          </InformationProducts>
          <InformationProducts title="Route type" subtitle="Out-and-Back">
            <div slot="icon">
              <Route />
            </div>
          </InformationProducts>
          <InformationProducts
            title="Physical Difficulty"
            subtitle="Trail 1: D"
            subtitle3="Trail 2: C"
          />
          <InformationProducts
            title="Technical Difficulty"
            subtitle="Trail 1: C"
            subtitle3="Trail 2: C"
          />
        </div>
      </div>

      <!--  Include, exclude, complementaries  -->
      <div
        class="grid md:grid-cols-2 lg:grid-cols-3 mt-20 md:mt-26 md:mb-36 gap-16 md:gap-4">
        <!-- Include -->
        <Includes title="Included">
          <ul slot="description" class="mt-4 flex flex-col gap-2">
            <li class="flex flex-wrap gap-2">
              <Icon icon="check-logo" size="1.6rem" color="#0E46A3" />
              <p class="max-w-[320px] text-md">
                Professional Qualified Mountain Leader
              </p>
            </li>
            <li class="flex flex-wrap gap-2">
              <Icon icon="check-logo" size="1.6rem" color="#0E46A3" />
              <p class="max-w-[320px] text-md">
                Liability insurance and assistance
              </p>
            </li>
            <li class="flex flex-wrap gap-2">
              <Icon icon="check-logo" size="1.6rem" color="#0E46A3" />
              <p class="max-w-[320px] text-md">Transfer</p>
            </li>
          </ul>
        </Includes>
        <!-- Exclude -->
        <Includes title="Not Included">
          <div slot="description" class="flex flex-col gap-2 mt-4">
            <li class="flex flex-wrap gap-2">
              <Icon icon="uncheck-logo" size="1.6rem" color="#0E46A3" />
              <p class="max-w-[320px] text-md">Snack and lunch</p>
            </li>
            <li class="flex flex-wrap gap-2">
              <Icon icon="uncheck-logo" size="1.6rem" color="#0E46A3" />
              <p class="max-w-[320px] text-md">Minibus (Optional)</p>
            </li>
            <li class="flex flex-wrap gap-2">
              <Icon icon="uncheck-logo" size="1.6rem" color="#0E46A3" />
              <p class="max-w-[320px] text-md">Summer ski lift (Optional)</p>
            </li>
          </div>
        </Includes>
        <Includes title="Extra">
          <div slot="description" class="flex flex-col gap-2 mt-4">
            <h2 class="max-w-[320px] text-md font-semibold">
              Track 1 North-face (Challenging):
            </h2>
            <li class="flex flex-wrap gap-2">
              <p class="max-w-[320px] text-md">
                - You can use a minibus or summer ski lift, which leaves us at
                around 3,000 meters. This is a significant reduction in ascent,
                distance, and the route's demands. Ask for more information.
              </p>
            </li>
            <li class="flex flex-wrap gap-2">
              <p class="max-w-[320px] text-md">
                - Acclimatize, and spend the night before at the mountain refuge
                at 2.500 meters, the starting point of the ascent.
              </p>
            </li>
            <h2 class="max-w-[320px] text-md mt-3 font-semibold">
              Track 2 South-face (Moderate):
            </h2>
            <li class="flex flex-wrap gap-2">
              <p class="max-w-[320px] text-md">
                - Acclimatize, and spend the night before in the village
                Capileira, the starting point of the ascent.
              </p>
            </li>
          </div>
        </Includes>
        <!-- Complementaries -->
      </div>
    </main>

    <div
      class="grid md:grid-cols-2 h-auto gap-10 md:gap-20 md:py-36 py-10 items-center">
      <div class="static h-[385px] hidden md:block">
        <img
          class="rounded-xl absolute md:w-[20rem] lg:w-[25rem] hover:z-40 transition-all duration-300 ease-out hover:scale-105"
          src="/hiking-and-trekking/1-day-summit-mulhacen/1dsm-1.webp"
          alt="ciclista mirando la sierra con cicicleta a su lado"
        />
        <img
          class="rounded-xl absolute md:w-[10rem] lg:w-[12rem] md:mt-48 lg:mt-60 ml-6 z-10 grayscale-[60%] hover:grayscale-0 transition-all duration-300 ease-out hover:scale-105"
          src="/hiking-and-trekking/1-day-summit-mulhacen/1dsm-2.webp"
          alt="ciclista mirando la sierra con cicicleta a su lado"
        />
        <img
          class="rounded-xl absolute md:w-[10rem] lg:w-[15em] ml-64 md:-mt-24 lg:-mt-32 grayscale-[60%] hover:grayscale-0 transition-all duration-300 ease-out hover:scale-105"
          src="/hiking-and-trekking/1-day-summit-mulhacen/1dsm-4.webp"
          alt="ciclista mirando la sierra con cicicleta a su lado"
        />
      </div>

      <div class="grid gap-5">
        <div class="grid grid-flow-row gap-4">
          <h2
            class="max-w-2xl mb-4 md:px-0 font-bold text-4xl md:text-5xl xl:text-6xl">
            Availability
          </h2>
          <div class="flex gap-2">
            <Icon icon="spring-logo" size="1.6rem" color="#0E46A3" />
            <p class="max-w-2xl text-gray-900 mb-2 md:px-0 text-xl md:text-xl">
              Summer
            </p>
          </div>
        </div>

        <div class="">
          <h2
            class="max-w-2xl mb-4 md:px-0 font-bold text-4xl md:text-5xl xl:text-6xl">
            Highlight
          </h2>
          <p class="text-lg text-gray-900 mb-1">
            <span class="text-xl">🔹</span> Climb the highest peak of mainland Spain,
            Mulhacén 3.480 m.
          </p>
          <p class="text-lg text-gray-900 mb-1">
            <span class="text-xl">🔹</span> Stunning mountain landscape and glacier
            lakes
          </p>
        </div>
      </div>
    </div>

    <Widget
      title="What to bring for Hiking"
      description="Weather is important to consider while packing for your outdoor activity. Your packing list is based on your comfort and sensitivity. Layering your clothes is the best way to travel and be outdoors. It is highly recommended as the best way to stay warm and cool, as the weather is bound to change in the mountains."
      img="/hiking-and-trekking/trekking-alpujarras/bring.webp"
      text="If you have any questions about the material's recommendations, contact us or check out our blog, “What to Bring for Hiking.”"
      brings={brings}
    />

    <!-- Button to download PDF -->
    <section class="grid md:grid-cols-2 gap-10">
      <div class="">
        <h2
          class="max-w-2xl mb-4 md:px-0 font-bold text-4xl md:text-5xl xl:text-6xl">
          Requirements
        </h2>
        <p class="text-lg text-gray-900 mb-1">
          <span class="text-xl strong">🔹</span> Physical fitness:
        </p>
        <p class="text-lg text-gray-900 mb-1 ml-5">- Track 1: Very good.</p>
        <p class="text-lg text-gray-900 mb-1 ml-5">
          - Track 2: Good, with the habit of doing aerobic sports.
        </p>
        <p class="text-lg text-gray-900">
          <span class="text-xl">🔹</span> Proper hiking equipment is required. Walking
          sticks are recommended. Ankle-high hiking boots are required.
        </p>
        <p class="text-lg text-gray-900">
          <span class="text-xl">🔹</span> Previous mountain hiking experience:
        </p>
        <p class="text-lg text-gray-900 mb-1 ml-5">- Track 1: Necessary.</p>
        <p class="text-lg text-gray-900 mb-1 ml-5">- Track 2: Recommended.</p>
      </div>
    </section>
    <section class="grid md:grid-cols-2 gap-10 items-center mt-10">
      <div>
        <h2
          class="max-w-2xl mb-4 md:px-0 font-bold text-4xl md:text-5xl xl:text-6xl">
          Recommendations
        </h2>
        <Dots class="mb-4" />
        <p class="text-lg text-gray-700 mb-1">
          We recommend having a good rest and better acclimatization, at the
          mountain refuge or the village of Capileira for the easy option, the
          night before to avoid any symptoms of altitude sickness.
        </p>
      </div>
      <div>
        <h2
          class="max-w-2xl mb-4 md:px-0 font-bold text-4xl md:text-5xl xl:text-6xl">
          Preparation
        </h2>
        <Dots class="mb-4" />
        <p class="text-lg text-gray-700 mb-1">
          - Evaluate your state of fitness.
        </p>
        <p class="text-lg text-gray-700 mb-1">
          - The best way to prepare yourself is to hike and carry a backpack
          with some weight.
        </p>
        <p class="text-lg text-gray-700 mb-1">
          For more information check our blog and look for “How to prepare
          physically for a hike”
        </p>
      </div>
      <div>
        <h2
          class="max-w-2xl mb-4 md:px-0 font-bold text-4xl md:text-5xl xl:text-6xl">
          Sierra Nevada In Summer
        </h2>
        <Dots class="mb-4" />
        <p class="text-lg text-gray-700 mb-1">
          The weather in the Sierra Nevada during the summer has an average
          temperature of 24ºC and quite warm days. At 3.000 meters, the
          temperatures might vary between 15ºC and 20ºC, and at night, the
          temperature drops to 10ºC.
        </p>
      </div>
      <div>
        <h2
          class="max-w-2xl mb-4 md:px-0 font-bold text-4xl md:text-5xl xl:text-6xl">
          Transport
        </h2>
        <Dots class="mb-4" />
        <p class="text-lg text-gray-700 mb-1">
          For the first track, we drive from the city of Granada to the mountain
          refuge at 2.500 meters. (approximately 1 hour drive)
        </p>
        <p class="text-lg text-gray-700 mb-1">
          For the second track, we drive from the city of Granada to the village
          of Capileira. (approximately 1h30 drive)
        </p>
      </div>
    </section>
    <section class="grid md:grid-cols-2 mt-10 gap-6 items-center">
      <Cancellation />
      <div class="flex flex-col gap-2 md:p-4">
        <div>
          <h3 class="text-4xl md:text-5xl xl:text-6xl font-bold">Price:</h3>
          <Dots class="mb-4" />
        </div>
        <p class="text-gray-700">1 person - 200 €</p>
        <p class="text-gray-700">2 people – 120 € p.p</p>
        <p class="text-gray-700">3 people – 100 € p.p</p>
        <p class="text-gray-700">4 people – 90 € p.p</p>
        <p class="text-gray-700">6 people – 80 € p.p</p>
        <p class="text-gray-700">7 people – 80 € p.p</p>
      </div>
    </section>

    <!-- Slider Photos -->
    <section class="m-auto md:w-full rounded-xl md:px-8 md:py-20">
      <ol class="relative mt-16">
        {(<SliderReact IMG={IMG} client:visible />)}
      </ol>
    </section>

    <!--  TimeLine per days  -->
    <h2 class="text-4xl md:text-5xl xl:text-6xl md:p-8 mt-16 font-bold">
      What to expect
    </h2>
    <h2 class="text-2xl md:text-3xl xl:text-4xl md:px-8 mt-8 font-bold">
      An outstanding adventure, the climb to the 3.480 meter-high Mulhacén peak,
      the roof of the peninsula
    </h2>
    <p class="text-lg text-gray-700 md:px-8 mt-8 mb-8">
      We offer two variations, with each a different physical difficulty, to
      climb the Mulhacén peak.
    </p>
    {
      DAYS.map((tour) => (
        <ol class="mb-10">
          <Days {...tour} />
        </ol>
      ))
    }
  </Container>
</Layout>
