---
import Container from "../../components/container.astro";
import InformationProducts from "../../components/ui/informationProducts.astro";
import Icon from "../../components/Icon.astro";
import Layout from "../../layouts/Layout.astro";
import SliderReact from "../../hooks/SliderReact";
import Days from "@/components/products-components/days.astro";
import Includes from "@/components/products-components/includes.astro";
import Route from "@/components/ui/icons/route.astro";
import Dots from "@/components/ui/dots.astro";
import Widget from "@/components/products-components/widget.astro";
import Cancellation from "@/components/products-components/cancellation.astro";

// Duplica y cambia las rutas para añadir o modificar las fotos

const IMG = [
  {
    src: "/hiking-and-trekking/2-day-summit-mulhacen/2dsm-1.webp",
  },
  {
    src: "/hiking-and-trekking/2-day-summit-mulhacen/2dsm-2.webp",
  },
  {
    src: "/hiking-and-trekking/2-day-summit-mulhacen/2dsm-3.webp",
  },
  {
    src: "/hiking-and-trekking/2-day-summit-mulhacen/2dsm-4.webp",
  },
];
const DAYS = [
  {
    title2: "Day 1",
    tecnicalInfo: true,
    description:
      "The route starts at Europe’s southernmost ski resort and follows a great ascent along the San Juan Valley towards the second-highest peak of the mountain range, Veleta 3.392 meters. The trail brings you to the Carihuela Refuge located in the mountain pass “Collado de la Veleta” on its southern slope at an altitude of 3.200 meters where you can see the remains of the trenches from the Civil War.",
    description2:
      "Before our eyes, a wide landscape of the Mediterranean mountain range opens where the peak Mulhacén rises majestically. The trail continues along the glacial cirque and lagoon of Río Seco, a corner of special beauty. After having a picnic at the lagoon Río Seco, we set off to follow the river downwards to the Poquiera refuge where we stay the night.  ",
    description3:
      "We classify the route as a moderate trail with characteristics of altitude hiking. The hike involves a considerable height difference with a long ascent at the beginning on relatively easy terrain and a long descent in the second part on rocky terrain without any difficult obstacles. For more information check our blog and look for “Trail grades”",
    description4:
      "Optional: there is a minibus or the summer ski lift at your disposal, which leaves us at around 3.000 meters, a significant reduction of ascent, distance, and the demands of the route. Ask for more information.",
    totalDistance: "14 Km",
    totalAscent: "850 m",
    totalDescent: "885 m",
    routeType: "Point-to-point",
    physical_difficulty: "C",
    technical_difficulty: "C",
  },
  {
    title2: "Day 2",
    tecnicalInfo: true,
    description:
      "After breakfast at the refuge, we start the emblematic ascent to the Mulhacén peak.",
    description2:
      "From the refuge, we hike gradually up toward Caldera Lagoon following the Mulhacén River through alpine meadows and rocky terrain, with panoramic views of the surrounding mountains and valleys.",
    description3:
      "One of the most emblematic lagoons in the Sierra Nevada, Caldera Lagoon, sits below the ridges of Mulhacén. After having a rest at the mountain refuge, the iconic steep climb awaits us up to the peak of Mulhacén. Once at the summit, you’ll be rewarded with breathtaking views of the surrounding peaks and valleys.",
    description4:
      "After enjoying your time at the summit, we begin the descent back along the south slope of Mulhacén to 2.700 meters altitude where we take the shuttle bus back to the village of Capileira in the Alpujarra region.",
    description5:
      "After relaxing with a drink and a tapa in the white village we drive back to Granada.",
    description6:
      "We classify the route as a moderate trail with characteristics of altitude hiking. The hike involves a considerable height difference with an ascent at the beginning and later a steep summit climb on rocky and loose terrain. The descent is less strenuous but can be tough on the knees. The trail doesn’t have any difficult obstacles. For more information check our blog and look for “Trail grades”",
    totalDistance: "11 Km",
    totalAscent: "1000 m",
    totalDescent: "800 m",
    routeType: "Point-to-point",
    physical_difficulty: "C",
    technical_difficulty: "C",
  },
];

const brings = [
  {
    title: "Water canteen minimum 2L",
  },

  {
    title: "Picnic (sandwich, chocolate, dried fruit, etc.)",
  },
  {
    title: "Light backpack (20-30L)",
  },
  {
    title: "Weather-appropriate and technical clothing",
  },
  {
    title: "Hiking jacket",
  },
  {
    title: "Hiking shoes",
  },
  {
    title: "Sun protection",
  },
  {
    title: "Sunglasses",
  },
  {
    title: "Hiking summer hat or cap",
  },
  {
    title: "Trekking gloves",
  },
  {
    title: "Warm hat and neck gaiter",
  },
  {
    title: "Trekking poles (Recommended)",
  },
  {
    title: "Headlamp",
  },
];
---

<Layout title="">
  <Container>
    <main class="mt-16">
      <!-- Foto, nombre y destino -->

      <div
        class="bg-center bg-no-repeat bg-[url('/public/hiking-and-trekking/2-day-summit-mulhacen/2dsm-principal.webp')] h-[25rem] rounded-2xl bg-cover">
        <div class="flex flex-col justify-end h-full p-6 w-auto bg-cover">
          <div class="flex gap-2 [text-shadow:_0_2px_4px_rgb(0_0_0_/_0.8)]">
            <Icon icon="destiny-logo" size="1.6rem" color="gray" />
            <p
              class="text-xl font-normal text-white lg:text-2xl flex flex-col justify-end h-full [text-shadow:_0_2px_4px_rgb(0_0_0_/_0.8)]">
              Sierra Nevada National Park
            </p>
          </div>

          <h1
            class="text-3xl font-extrabold tracking-tight leading-none text-white md:text-4xl lg:text-5xl [text-shadow:_0_2px_4px_rgb(0_0_0_/_0.8)]">
            2-Day Summit Mulhacén
          </h1>
        </div>
      </div>

      <!-- Informacion general de los viajes -->

      <div
        class="grid grid-cols-2 md:grid-cols-6 h-auto mt-3 gap-3 place-content-start md:px-6">
        <InformationProducts title="Price" subtitle="160 (6 pax.)">
          <div slot="icon">
            <Icon icon="price-logo" size="1.6rem" color="#0E46A3" />
          </div>
        </InformationProducts>
        <InformationProducts title="Pre-booking" subtitle="100%">
          <div slot="icon">
            <Icon icon="price-logo" size="1.6rem" color="#0E46A3" />
          </div>
        </InformationProducts>
        <InformationProducts title="Minimum of persons" subtitle="1">
          <div slot="icon">
            <Icon icon="group-logo" size="1.6rem" color="#0E46A3" />
          </div>
        </InformationProducts>
        <InformationProducts
          title="Duration Trail"
          subtitle="Day 1: 6 hours"
          subtitle3="Day 2: 6 hours">
          <div slot="icon">
            <Icon icon="timer-logo" size="1.6rem" color="#0E46A3" />
          </div>
        </InformationProducts>
        <InformationProducts title="Tour type" subtitle="Guided">
          <div slot="icon">
            <Icon icon="guide-logo" size="1.6rem" color="#0E46A3" />
          </div>
        </InformationProducts>
        <InformationProducts title="Season" subtitle="Summer">
          <!-- <div slot="icon">
            <Icon icon="autumn-logo" size="1.6rem" color="#0E46A3" />
          </div> -->
        </InformationProducts>
      </div>

      <!-- Informacion tecnica -->

      <div class="">
        <div
          class="grid grid-cols-2 justify-between md:grid-cols-6 h-auto mt-3 gap-3 md:px-6">
          <InformationProducts
            title="Total distance"
            subtitle="Day 1: 14 km"
            subtitle3="Day 2: 11 km">
            <div slot="icon">
              <Icon icon="distance-logo" size="1.6rem" color="#0E46A3" />
            </div>
          </InformationProducts>

          <InformationProducts
            title="Total ascent"
            subtitle="Day 1: 850 m"
            subtitle3="Day 2: 1000 m">
            <div slot="icon">
              <Icon icon="up-logo" size="1.6rem" color="#0E46A3" />
            </div>
          </InformationProducts>
          <InformationProducts
            title="Total descent"
            subtitle="Day 1: 885 m"
            subtitle3="Day 2: 800 m">
            <div slot="icon">
              <Icon icon="down-logo" size="1.6rem" color="#0E46A3" />
            </div>
          </InformationProducts>
          <InformationProducts title="Route type" subtitle="Point-to-point">
            <div slot="icon">
              <Route />
            </div>
          </InformationProducts>
          <InformationProducts
            title="Physical Difficulty"
            subtitle="Day 1: C"
            subtitle3="Day 2: C"
          />
          <InformationProducts
            title="Technical Difficulty"
            subtitle="Day 1: C"
            subtitle3="Day 2: C"
          />
        </div>
      </div>

      <!--  Include, exclude, complementaries  -->
      <div
        class="grid md:grid-cols-2 lg:grid-cols-3 mt-20 md:mt-26 md:mb-36 gap-16 md:gap-4">
        <!-- Include -->
        <Includes title="Included">
          <ul slot="description" class="mt-4 flex flex-col gap-2">
            <li class="flex flex-wrap gap-2">
              <Icon icon="check-logo" size="1.6rem" color="#0E46A3" />
              <p class="max-w-[320px] text-md">Qualified mountain leader</p>
            </li>
            <li class="flex flex-wrap gap-2">
              <Icon icon="check-logo" size="1.6rem" color="#0E46A3" />
              <p class="max-w-[320px] text-md">
                Liability insurance and assistance
              </p>
            </li>
            <li class="flex flex-wrap gap-2">
              <Icon icon="check-logo" size="1.6rem" color="#0E46A3" />
              <p class="max-w-[320px] text-md">Transfer</p>
            </li>
            <li class="flex flex-wrap gap-2">
              <Icon icon="check-logo" size="1.6rem" color="#0E46A3" />
              <p class="max-w-[320px] text-md">
                1 night at the mountain refuge
              </p>
            </li>
            <li class="flex flex-wrap gap-2">
              <Icon icon="check-logo" size="1.6rem" color="#0E46A3" />
              <p class="max-w-[320px] text-md">Picnic: first and second day</p>
            </li>
            <li class="flex flex-wrap gap-2">
              <Icon icon="check-logo" size="1.6rem" color="#0E46A3" />
              <p class="max-w-[320px] text-md">Breakfast: second day</p>
            </li>
            <li class="flex flex-wrap gap-2">
              <Icon icon="check-logo" size="1.6rem" color="#0E46A3" />
              <p class="max-w-[320px] text-md">Dinner: first day</p>
            </li>
            <li class="flex flex-wrap gap-2">
              <Icon icon="check-logo" size="1.6rem" color="#0E46A3" />
              <p class="max-w-[320px] text-md">Minibus second day</p>
            </li>
          </ul>
        </Includes>
        <!-- Exclude -->
        <Includes title="Not Included">
          <div slot="description" class="flex flex-col gap-2 mt-4">
            <li class="flex flex-wrap gap-2">
              <Icon icon="uncheck-logo" size="1.6rem" color="#0E46A3" />
              <p class="max-w-[320px] text-md">Snack</p>
            </li>
            <li class="flex flex-wrap gap-2">
              <Icon icon="uncheck-logo" size="1.6rem" color="#0E46A3" />
              <p class="max-w-[320px] text-md">Minibus first day (Optional)</p>
            </li>
            <li class="flex flex-wrap gap-2">
              <Icon icon="uncheck-logo" size="1.6rem" color="#0E46A3" />
              <p class="max-w-[320px] text-md">
                Summer ski lift first day (Optional)
              </p>
            </li>
          </div>
        </Includes>
        <Includes title="Extra">
          <div slot="description" class="flex flex-col gap-2 mt-4">
            <li class="flex flex-wrap gap-2">
              <p class="max-w-[320px] text-md">
                You can use a minibus or summer ski lift on the first day, which
                leaves us at around 3.000 meters, significantly reducing ascent,
                distance, and the route's demands. Ask for more information.
              </p>
            </li>
            <li class="flex flex-wrap gap-2">
              <p class="max-w-[320px] text-md">
                Acclimatize, and spend the night before at the mountain refuge
                at 2.500 meters, the starting point of the ascent.
              </p>
            </li>
          </div>
        </Includes>
        <!-- Complementaries -->
      </div>
    </main>

    <div
      class="grid md:grid-cols-2 h-auto gap-10 md:gap-20 md:py-36 py-10 items-center">
      <div class="static h-[385px] hidden md:block">
        <img
          class="rounded-xl absolute md:w-[20rem] lg:w-[25rem] hover:z-40 transition-all duration-300 ease-out hover:scale-105"
          src="/hiking-and-trekking/2-day-summit-mulhacen/2dsm-1.webp"
          alt="ciclista mirando la sierra con cicicleta a su lado"
        />
        <img
          class="rounded-xl absolute md:w-[10rem] lg:w-[12rem] md:mt-48 lg:mt-60 ml-6 z-10 grayscale-[60%] hover:grayscale-0 transition-all duration-300 ease-out hover:scale-105"
          src="/hiking-and-trekking/2-day-summit-mulhacen/2dsm-2.webp"
          alt="ciclista mirando la sierra con cicicleta a su lado"
        />
        <img
          class="rounded-xl absolute md:w-[10rem] lg:w-[15em] ml-64 md:-mt-24 lg:-mt-32 grayscale-[60%] hover:grayscale-0 transition-all duration-300 ease-out hover:scale-105"
          src="/hiking-and-trekking/2-day-summit-mulhacen/2dsm-4.webp"
          alt="ciclista mirando la sierra con cicicleta a su lado"
        />
      </div>

      <div class="grid gap-5">
        <div class="grid grid-flow-row gap-4">
          <h2
            class="max-w-2xl mb-4 md:px-0 font-bold text-4xl md:text-5xl xl:text-6xl">
            Availability
          </h2>
          <div class="flex gap-2">
            <Icon icon="spring-logo" size="1.6rem" color="#0E46A3" />
            <p class="max-w-2xl text-gray-900 mb-2 md:px-0 text-xl md:text-xl">
              Summer
            </p>
          </div>
        </div>

        <div class="">
          <h2
            class="max-w-2xl mb-4 md:px-0 font-bold text-4xl md:text-5xl xl:text-6xl">
            Highlight
          </h2>
          <p class="text-lg text-gray-900 mb-1">
            <span class="text-xl">🔹</span> Climb the highest peak of mainland Spain,
            Mulhacén 3.480 m.
          </p>
          <p class="text-lg text-gray-900 mb-1">
            <span class="text-xl">🔹</span> Stunning mountain landscape and glacier
            lakes
          </p>
          <p class="text-lg text-gray-900 mb-1">
            <span class="text-xl">🔹</span> Sleeping at the mountain refuge
          </p>
        </div>
      </div>
    </div>

    <Widget
      title="What to bring for Hiking"
      description="Weather is important to consider while packing for your outdoor activity. Your packing list is based on your comfort and sensitivity, and the type of activity you are preparing.  Layering your clothes is the best way to travel and be outdoors. It is highly recommended as the best way to stay warm and cool, as the weather is bound to change in the mountains."
      img="/hiking-and-trekking/trekking-alpujarras/bring.webp"
      text="If you have any questions about the material's recommendations, contact us or check out our blog, “What to Bring for Hiking.”"
      brings={brings}
    />

    <!-- Button to download PDF -->
    <section class="grid md:grid-cols-2 gap-10">
      <div class="">
        <h2
          class="max-w-2xl mb-4 md:px-0 font-bold text-4xl md:text-5xl xl:text-6xl">
          Requirements
        </h2>
        <p class="text-lg text-gray-900 mb-1">
          <span class="text-xl strong">🔹</span> Physical fitness: Good, with the
          habit of doing aerobic sports.
        </p>

        <p class="text-lg text-gray-900">
          <span class="text-xl">🔹</span> Proper hiking equipment is required. Walking
          sticks are recommended, and ankle-high hiking boots are strongly recommended.
        </p>
        <p class="text-lg text-gray-900">
          <span class="text-xl">🔹</span> Previous mountain hiking experience: recommended.
        </p>
      </div>
    </section>
    <section class="grid md:grid-cols-2 gap-10 items-center mt-10">
      <div>
        <h2
          class="max-w-2xl mb-4 md:px-0 font-bold text-4xl md:text-5xl xl:text-6xl">
          Recommendations
        </h2>
        <Dots class="mb-4" />
        <p class="text-lg text-gray-700 mb-1">
          We recommend having a good rest and better acclimatization at the
          mountain refuge the night before to avoid any symptoms of altitude
          sickness.
        </p>
      </div>
      <div>
        <h2
          class="max-w-2xl mb-4 md:px-0 font-bold text-4xl md:text-5xl xl:text-6xl">
          Preparation
        </h2>
        <Dots class="mb-4" />
        <p class="text-lg text-gray-700 mb-1">
          - Evaluate your state of fitness.
        </p>
        <p class="text-lg text-gray-700 mb-1">
          - The best way to prepare yourself is to hike and carry a backpack
          with some weight.
        </p>
        <p class="text-lg text-gray-700 mb-1">
          For more information check our blog and look for “How to prepare
          physically for a hike”
        </p>
      </div>
      <div>
        <h2
          class="max-w-2xl mb-4 md:px-0 font-bold text-4xl md:text-5xl xl:text-6xl">
          Sierra Nevada In Summer
        </h2>
        <Dots class="mb-4" />
        <p class="text-lg text-gray-700 mb-1">
          The weather in the Sierra Nevada during the summer has an average
          temperature of 24ºC and quite warm days. At 3.000 meters, the
          temperatures might vary between 15ºC and 20ºC, and at night, the
          temperature drops to 10ºC.
        </p>
      </div>
      <div>
        <h2
          class="max-w-2xl mb-4 md:px-0 font-bold text-4xl md:text-5xl xl:text-6xl">
          Transport
        </h2>
        <Dots class="mb-4" />
        <p class="text-lg text-gray-700 mb-1">
          We drive from the city of Granada to the mountain refuge at 2.500
          meters. (approximately 1 hour drive)
        </p>
      </div>
    </section>
    <section class="grid md:grid-cols-2 mt-10 gap-6 items-center">
      <Cancellation />
      <div class="flex flex-col gap-2 md:p-4">
        <div>
          <h3 class="text-4xl md:text-5xl xl:text-6xl font-bold">Price:</h3>
          <Dots class="mb-4" />
        </div>
        <p class="text-gray-700">1 person - 340 €</p>
        <p class="text-gray-700">2 people – 240 € p.p</p>
        <p class="text-gray-700">3 people – 200 € p.p</p>
        <p class="text-gray-700">4 people – 180 € p.p</p>
        <p class="text-gray-700">5 people – 168 € p.p</p>
        <p class="text-gray-700">6 people – 160 € p.p</p>
        <p class="text-gray-700">7 people – 154 € p.p</p>
      </div>
    </section>

    <!-- Slider Photos -->
    <section class="m-auto md:w-full rounded-xl md:px-8 md:py-20">
      <ol class="relative mt-16">
        {(<SliderReact IMG={IMG} client:visible />)}
      </ol>
    </section>

    <!--  TimeLine per days  -->
    <h2 class="text-4xl md:text-5xl xl:text-6xl md:p-8 mt-16 font-bold">
      What to expect
    </h2>
    <h2 class="text-2xl md:text-3xl xl:text-4xl md:px-8 mt-8 font-bold">
      An outstanding adventure, the climb to the 3.480 meter-high Mulhacén peak,
      the roof of the peninsula
    </h2>
    <p class="text-lg text-gray-700 md:px-8 mt-8 mb-8">
      We offer two variations, with each a different physical difficulty, to
      climb the Mulhacén peak.
    </p>
    {
      DAYS.map((tour) => (
        <ol class="mb-10">
          <Days {...tour} />
        </ol>
      ))
    }
  </Container>
</Layout>
