---
import { SEO } from "astro-seo";
import "../styles/global.css";
import Footer from "../components/footer.astro";
import Navbar from "../components/navbar/navbar.astro";
import "@fontsource/lato"; // Defaults to weight 400
import "@fontsource/lato/400.css"; // Specify weight
import "@fontsource/lato/400-italic.css"; // Specify weight and style

// import { getLangFromUrl } from "@/i18n/utils";

import WhatsappButton from "@/components/ui/whatsappButton.astro";
import { getI18N } from "@/i18n/";
const { currentLocale } = Astro;
// const i18n = getI18N({ currentLocale });
// const lang = getLangFromUrl(Astro.url);

export interface Props {
  title: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL("/montaraz.jpg", Astro.site).toString();

const { title } = Astro.props;

const makeTitle = title
  ? title + " | " + "Outdoor & Culture"
  : "Montaraz Experience, travels, tours, cycling and hiking";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- <link rel="preload" as="image" href={src} alt="Hero" /> -->
    <SEO
      title={makeTitle}
      description="Montaraz Outdoor & Culture oficial website, travels, tours, tripis, hikking, bikes. "
      canonical={canonicalURL}
      twitter={{
        creator: "Raydel Conesa Perez",
        site: "Montaraz Outdoor & Culture",
        card: "summary_large_image",
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: `Montaraz Outdoor & Culture - Guieded Tours`,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: "",
        },
      }}
    />
  </head>
  <body>
    <div>
      <div class="wave"></div>
      <div class="wave"></div>
      <div class="wave"></div>
    </div>
    <Navbar />

    <slot />
    <WhatsappButton />
    <div class="m-auto mt-10 grid justify-center">
      <button id="scrollToTop" class="scroll-to-top">Go top ↑</button>
    </div>

    <Footer />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      body {
        margin: auto;
        font-family: lato;
        overflow: auto;
        background: linear-gradient(
          315deg,
          rgb(241, 251, 255) 3%,
          rgb(225, 228, 231) 38%,
          rgb(222, 224, 224) 68%,
          rgb(247, 239, 239) 98%
        );
        animation: gradient 15s ease infinite;
        background-size: 400% 400%;
        background-attachment: fixed;
      }

      @keyframes gradient {
        0% {
          background-position: 0% 0%;
        }
        50% {
          background-position: 100% 100%;
        }
        100% {
          background-position: 0% 0%;
        }
      }

      .wave {
        background: rgb(255 255 255 / 25%);
        border-radius: 1000% 1000% 0 0;
        position: fixed;
        width: 200%;
        height: 12em;
        animation: wave 10s -3s linear infinite;
        transform: translate3d(0, 0, 0);
        opacity: 0.8;
        bottom: 0;
        left: 0;
        z-index: -1;
      }

      .wave:nth-of-type(2) {
        bottom: -1.25em;
        animation: wave 18s linear reverse infinite;
        opacity: 0.8;
      }

      .wave:nth-of-type(3) {
        bottom: -2.5em;
        animation: wave 20s -1s reverse infinite;
        opacity: 0.9;
      }

      @keyframes wave {
        2% {
          transform: translateX(1);
        }

        25% {
          transform: translateX(-25%);
        }

        50% {
          transform: translateX(-50%);
        }

        75% {
          transform: translateX(-25%);
        }

        100% {
          transform: translateX(1);
        }
      }
      img {
        content-visibility: auto;
      }
      .scroll-to-top {
        bottom: 20px;
        right: 20px;
        display: none; /* Hidden by default */
        background-color: #074173;
        color: white;
        border: none;
        border-radius: 4px;
        padding: 10px 15px;
        font-size: 18px;
        cursor: pointer;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition:
          opacity 0.3s ease,
          transform 0.3s ease;
      }

      .scroll-to-top:hover {
        background-color: #0056b3;
      }

      .scroll-to-top.show {
        display: block; /* Show the button when needed */
      }
    </style>
    <script is:inline>
      const scrollToTopButton = document.getElementById("scrollToTop");

      window.addEventListener("scroll", () => {
        if (window.scrollY > 300) {
          scrollToTopButton.classList.add("show");
        } else {
          scrollToTopButton.classList.remove("show");
        }
      });

      scrollToTopButton.addEventListener("click", () => {
        window.scrollTo({
          top: 0,
          behavior: "smooth",
        });
      });
    </script>
  </body>
</html>
